<p id="notice"><%= notice %></p>

<h1>Listing Watchers</h1>

<table>
  <thead>
    <tr>
      <th>Apiurl</th>
      <th>Type</th>
      <th>Username</th>
      <th>Domain</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watchers.each do |watcher| %>
      <tr>
        <td><%= watcher.apiurl %></td>
        <td><%= watcher.post && watcher.post.length ? "POST" :  "GET" %></td>
        <td><%= watcher.username %></td>
        <td><%= watcher.domain %></td>

                <td><%= watcher.user_id %></td>

        <td><%= link_to 'Show', watcher %></td>
        <td><%= link_to 'Edit', edit_watcher_path(watcher) %></td>
        <td><%= link_to 'Destroy', watcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watcher', new_watcher_path %>
